.patient-exercise-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    justify-content: space-evenly;
    height: 100%;
}

.all-exercises-list {
    display: grid;
    grid-template-columns: 50% 50%;
    padding-top: 2%;
    padding-bottom: 2%;
    margin-bottom: 2%;
    border-bottom: solid 1px black;
    /* flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    justify-content: space-evenly; */
}

.mapped-exercises {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2%;
    border: solid black 1px;
    padding: 1%;
}

.assign-button {
    display: flex;
    justify-content: flex-end;
    flex-grow: 1;
}

.patient-exercise-list {
    display: flex;
    flex-direction: column;
}

.patient-exercise-list-item {
    padding-top: 2%;
    padding-bottom: 2%;
    margin-bottom: 2%;
    border-bottom: solid 1px black;
}

.exercise-list-title {
    font-size: 24px;
}