.main {
    display: block;
    background-color: teal;
    width: 100%;
}

.contact {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.icon {
    padding: 0 10px 0;
}

.about {
    display: flex;
    justify-content: center;
}