.navbar-container {
    width: 100%;
    background-color: #4169e1;
    color: white;
}

.navbar {
    display: flex;
    margin-left: 5%;
    margin-right: 5%;
    justify-content: space-between;
    align-items: center;
}

.logout-button-container {
    width: 100px;
}

.login-links {
    display: flex;
    justify-content: space-between;
}

.logout-button {
    background-color: transparent;
    color: white;
    border: none;
}

.logout-button:hover {
    color: black;
    cursor: pointer;
}