.navbar-container {
    display: flex;
    justify-content: center;
    justify-content: space-around;
    align-items: center;
    background-color: teal;
    color: white;
}

.logout-button {
    background-color: transparent;
    color: white;
    border: none;
}

.logout-button:hover {
    color: goldenrod;
    cursor: pointer;
}