.profile-picture {
    border-radius: 100%;
    width: 7em;
    height: 7em;
    margin-right: 3em;
}

.patient-info-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 1%;
    margin-bottom: 1%;
}

.profile-grid {
    display: grid;
    grid-template-columns: 30% 70%;
    background-color: teal;
}

.profile-grid > div {
    border: 1px solid black;
    height: 100vh;
    display: flex;
    justify-content: center;
    color: white;
}