.profile-picture {
    border-radius: 100%;
    width: 7em;
    height: 7em;
    margin-right: 3em;
}

.patient-info-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 1%;
    margin-bottom: 1%;
}

.profile-grid {
    display: grid;
    grid-template-columns: 30% 70%;
    background-color: #4169e1;
}

.profile-grid > div {
    border: 1px solid black;
    height: 100vh;
    display: flex;
    justify-content: center;
    color: white;
}

.exercises-index {
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
}

.exercise-index-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.patients-index {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-left: 15%;
    margin-right: 15%;
}

.patient-index {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-bottom: solid black 1px;
}

.exercise-show {
    display: block;
    width: 100%;
}

.exercise-info > img {
    width: 50%;
    height: 50%;
    padding-bottom: 2%;
}

.exercise-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5%;
}

.exercise-title {
    padding-bottom: 2%;
    font-size: 20px;
    font-weight: bold;
}

.exercise-title-index {
    padding-bottom: 1%;
    font-size: 18px;
    font-weight: bold;
}

.patient-title-index {
    padding-bottom: 1%;
    font-size: 18px;
    font-weight: bold;
}

.exercise-title-index:hover{
    cursor: pointer;
    color: black;
    text-decoration: underline;
}

.patient-title-index:hover{
    cursor: pointer;
    color: black;
    text-decoration: underline;
}

.exercise-instructions {
    padding-bottom: 2%;
}

.navigation-tabs {
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: flex-end;
    width: 30%;
}

.navigation-tabs > div {
    border-left: solid black 1px;
    background-color: #4169e1;
    padding: 2%;
    color: white;
}

.navigation-tabs > div:hover {
    cursor: pointer;
    color: black;
    text-decoration: underline;
}

.exercise-button {
    display: block;
    margin: 2%;
    border-radius: 25px;
    background-color: black;
    background: linear-gradient(to right, black 50%, black 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    border: 1px solid black;
    height: 2em;
    color: white;
    white-space: nowrap;
    transition: background .5s ease;
}

.exercise-button:hover {
    cursor: pointer;
    background-position: left bottom;
}

.calendar-container {
    display: flex;
    justify-content: center;
    background-color: #4169e1;
    height: 100%;
    padding: 5%;
}